<div class="progress">
	<div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 20%;">
	</div>
	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 20%;">
	</div>
	<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: 20%;">
	</div>
	<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 20%;">
	</div>
	<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width: 20%;">
	</div>
</div>

<div id="sampleCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li class="active" data-target="#sampleCarousel" data-slide-to="0"></li>
		<li data-target="#sampleCarousel" data-slide-to="1"></li>
		<li data-target="#sampleCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<h1>meloncakeとは</h1>
		</div>
		<div class="item">
        <h1>我々が作った</h1>
		</div>
		<div class="item">
        <h1>シェフによる</h1>
		</div>
		<div class="item">
        <h1>シェフの為の</h1>
		</div>
		<div class="item">
        <h1>最高のCAKE</h1>
		</div>
	</div>
	<a class="left carousel-control" href="#sampleCarousel" role="button" data-slide="prev">
		<span class="sr-only">前へ</span>
	</a>
	<a class="right carousel-control" href="#sampleCarousel" role="button" data-slide="next">
		<span class="sr-only">次へ</span>
	</a>
</div>