<div class="box">
<div class="progress">
	<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width: 100%;">
	</div>
</div>
<div class="container">
	<div class="row">
<body>
<p class="box1">
		The world is a book<br>
        and those who do not travel<br>
        read only one page.
</p>
<div id="sampleCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li class="active" data-target="#sampleCarousel" data-slide-to="0"></li>
		<li data-target="#sampleCarousel" data-slide-to="1"></li>
		<li data-target="#sampleCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<h1>ながのcakeとは</h1>
		</div>
		<div class="item">
        <h1>我々が作った</h1>
		</div>
	</div>
	<a class="left carousel-control" href="#sampleCarousel" role="button" data-slide="prev">
		<span class="sr-only">前へ</span>
	</a>
	<a class="right carousel-control" href="#sampleCarousel" role="button" data-slide="next">
		<span class="sr-only">次へ</span>
	</a>
</div>
</body>
</div>
</div>
</div>