<div class='body'>
  <div class='container'>
  <p id="notice"></p>
  <h2>商品一覧画面</h2>

  <div class="col-lg-12">
  <table class="table table-hover table-inverse">
  	<thead>
  		<tr>
  			<th>商品ID</th>
  			<th>商品名</th>
  			<th>税抜き価格</th>
  			<th>ジャンル</th>
    		<th>ステータス</th>
 		</tr>
 	</thead>
  </table>
  <tbody>
  	<% @products.each do |product| %>
  	<tr>
  	 <td><%= product.name %></td>
  	 <td><%= product.price %></td>
  	</tr>

  	<% end %>
  </div>

  </div>
</div>