@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}


.preview {
        margin-top: 10px;
        &-act {
          width: 300px;
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

        }
      }
