@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}


.preview {
        margin-top: 10px;
        &-act {
          width: 300px;
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

        }
      }


.flex_test-box {
    padding:  10px;             /* 余白指定 */
    display: flex;              /* フレックスボックスにする */
    justify-content:space-around;
}

.flex_test-item {
    padding: 10px;
    color:  #fff;               /* 文字色 */
    margin:  10px;              /* 外側の余白 */
    border-radius:  5px;        /* 角丸指定 */
    width: 26.5%;                 /* 幅指定 */
    border:  solid 1px;
}

.flex_test-item:nth-child(1) {
    background-color:  #FFDBFF;
    opacity: 0.8;
}

.flex_test-item:nth-child(2) {
    background-color:  #FFDBED;
    opacity: 0.8;
}

.flex_test-item:nth-child(3) {
    background-color: #FFE5E5;
    opacity: 0.8;
}

.main {
height: 800px;
background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(img2.jpg);
background-attachment: scroll;
    background-size: auto
}

