<!-- 商品一覧 -->
<div class="container">
	<div class="row">

		<div class="col-lg-3">
<h3>ジャンル検索</h3>
<% @genres.each do |genre| %>
<%= genre.variety %>
<% end %>
		</div>

		<div class="col-lg-9">
<h2>ケーキ</h2><p>(全x件)</p>
<p>画像</p>
<p>商品名</p>
<p>価格</p>
		</div>

	</div>
</div>

